/* RESET DO CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 2.0;
}

header {
  background-color: rgb(247, 171, 218);
  color: rgb(255, 255, 255);
  padding: 73px;
  text-align: center;
}

main{
  height: 600px;
  background-color: rgb(255, 255, 255);
  flex: 1;
  padding: 48px 38px;
}

#sobre-mim {
  display: block;
  background-color: rgba(205, 169, 212, 0.534);
  width: 80%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 40px;
}

#titulo-sobre-mim {
  font-size: 30px;
  margin-bottom: 16px;
  border-bottom: 2px solid rgb(255, 9, 144);
  margin-bottom: 25px;
}

#meus-hobbies{
  background-color: rgba(205, 169, 212, 0.534);
  width: 80%;
  margin-bottom: 16px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 12px;
 }

 #titulo-meus-hobbies{
  font-size: 32px;
  margin-bottom: 30px;
}

 ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

li {
  background-color: aliceblue;
  padding: 8px;
  border-left: 4px solid color;
  border-radius: 6px;
  font-size: 16px;
  min-width: 250px;
}

li:hover {
  background-color: rgb(164, 30, 182);
  transform: translateX(5xp);
  transition: all 0.3s ease;
}
